@charset 'utf-8';
@use '../../foundation/_mixin' as *;

.c-title {
	display: grid;
	position: relative;
	width: 100%;
	height: 100dvh;
	place-items: center;

	&__text {
		position: absolute;
		z-index: 1;
		color: rgb(255, 255, 255);
		font-family: 'Inter', sans-serif;
		font-size: 8vw;
		font-weight: 500;
		// mix-blend-mode: overlay;
		letter-spacing: -0.045em;
	}
}
