@charset 'utf-8';
@use '../../foundation/_mixin' as *;

.p-company {
	width: 100%;
	min-height: 100dvh;
	padding-inline: 1rem;
	color: #333;

	// &__title--box {
	// 	width: min(100%, 1080px);
	// 	margin-inline: auto;
	// 	overflow: hidden;
	// 	border-left: 8px solid hsl(228, 6%, 17%);
	// }

	// &__title {
	// 	border-top-right-radius: 4px;
	// 	border-bottom-right-radius: 4px;
	// 	background-color: hsl(228, 6%, 17%);
	// 	color: hsl(0, 0%, 100%);
	// 	font-size: var(--titleFontSize);
	// 	line-height: 1;
	// 	text-align: center;
	// }

	&__inner {
		width: min(100%, 1080px);
		margin-inline: auto;
		container: company / inline-size;
	}

	&__subtitle--box {
		width: 100%;
		margin-block: 2rem;
		overflow: hidden;
	}

	&__subtitle {
		position: relative;
		width: fit-content;
		margin-inline: auto;
		font-size: var(--subTitleFontSize);
		line-height: 1;
	}

	&__info {
		height: fit-content;
		margin-block-end: 5rem;
		border-spacing: 0;
		border-collapse: separate;
		border: 1px solid var(--guideSolidColor);
		background-color: hsl(0, 0%, 100%, 0.5);
		font-size: 1rem;

		tbody {
			border-radius: 1rem;
		}

		tr {
			border: 1px solid var(--guideSolidColor);
			text-align: left;
		}

		th {
			position: relative;
			box-sizing: border-box;
			width: calc(100% / 4);
			min-width: 113px;
			padding: 1rem;
			border-right: 1px solid var(--guideSolidColor);
			border-bottom: 1px solid var(--guideSolidColor);

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 0;
			// 	width: 1px;
			// 	height: 1rem;
			// 	border: 1px solid rgb(40, 41, 46, 0.75);
			// 	translate: 0 -50%;
			// }
		}

		td {
			padding: 1rem;
			border-bottom: 1px solid var(--guideSolidColor);

			ul {
				display: flex;
				flex-wrap: wrap;
				padding-inline-start: 1rem;
				& li:not(:last-child) {
					margin-inline-end: 2rem;
				}
			}
		}
		tr:last-child th,
		tr:last-child td {
			border-bottom-style: none;
		}
	}

	&__access {
		display: flex;
		position: relative;
		width: 100%;
		margin-block-end: 10rem;
		overflow: hidden;
		border: 1px solid var(--guideSolidColor);
		// border-radius: 8px;
		background-color: #333;
		color: white;

		&--location {
			display: flex;
			flex-direction: column;
			width: calc(100% / 4);
		}

		&--textarea {
			display: grid;
			place-items: center;
			width: 100%;
			height: 50%;

			&:first-child {
				border-block-end: 1px solid var(--guideSolidColor);
			}
		}

		&--desc {
			width: 100%;
		}

		&--title {
			position: relative;
			padding-inline-start: 1rem;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 1px;
				height: 1rem;
				border: 1px solid rgb(40, 41, 46, 0.75);
				translate: 0 -50%;
			}
		}

		&--text {
			width: 100%;
			padding-block-start: 1rem;
			padding-inline: 1rem;

			& > span {
				display: inline-flex;
				align-items: center;

				&:nth-child(2) {
					display: block;
					padding-block-end: 0.5rem;
					padding-inline-start: calc(1rem + 4px);
				}

				&:nth-child(5) {
					display: block;
					padding-inline-start: calc(1rem + 4px);
				}
			}
		}

		&--map {
			width: calc(100% / 4 * 3);
			background-color: hsl(0, 0%, 80%);

			iframe {
				display: block;
				width: 100%;
				transition: all 0.3s ease;
				filter: grayscale(1);
				aspect-ratio: 16 / 9;
			}

			&:hover {
				iframe {
					filter: grayscale(0);
				}
			}
		}
	}

	@container company (width <= 980px) {
		.p-company {
			&__access {
				flex-direction: column;

				&--location {
					display: flex;
					flex-direction: row;
					width: 100%;
				}

				&--textarea {
					height: 100%;
					padding-block: 1rem;

					&:first-child {
						border-block-end: none;
					}
				}
				&--text {
					width: 100%;
					& > span {
						// display: block;
					}
				}

				&--map {
					width: 100%;
					iframe {
						aspect-ratio: 16 / 9;
					}
				}
			}
		}
	}
	@container company (width <= 576px) {
		.p-company {
			&__access {
				&--textarea {
					&:last-child {
						border-inline-start: 1px solid var(--guideSolidColor);
					}
				}

				&--map {
					iframe {
						aspect-ratio: 4 / 3;
					}
				}
			}
		}
	}

	@container company (width <= 435px) {
		.p-company {
			&__access {
				&--location {
					display: flex;
					flex-direction: column;
					width: 100%;
				}
				&--textarea {
					&:last-child {
						border-block-start: 1px solid var(--guideSolidColor);
						border-inline-start: none;
					}
				}

				&--map {
					iframe {
						aspect-ratio: 1 / 1;
					}
				}
			}
		}
	}
}
