@charset 'utf-8';
@use '../../foundation/_mixin' as *;

.p-contact {
	width: 100%;

	padding-inline: 1rem;

	&__title--box {
		margin-inline: auto;
	}

	&__title {
		color: #333;
		font-size: var(--subTitleFontSize);
		line-height: 1;
		text-align: center;
	}
	&__inner {
		width: min(100%, 1080px);
		margin-block-start: 3rem;
		margin-inline: auto;

		&--mail {
			width: fit-content;
			margin-inline: auto;
			color: #333;
			font-size: 5vw;
		}
	}
}

@keyframes wipe-in-down {
	from {
		clip-path: inset(0 0 100% 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

[transition-style='in:wipe:down'] {
	animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
}
