@charset 'utf-8';
@use '../foundation/_mixin' as *;

.ly-footer {
	position: relative;
	width: 100%;
	margin-block-start: 10rem;
	background-color: #333;
	color: hsl(0, 0%, 100%);
	place-items: center;

	&__topsvg {
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		transform: translateY(-50%);
		fill: hsl(0, 0%, 10%);
	}

	&__container {
		width: min(100%, 1080px);
		margin-inline: auto;

		a {
			color: hsl(0, 0%, 100%);
			font-size: 1.5rem;
			text-align: center;
			text-decoration: none;
		}
	}

	&__tel {
		a {
			letter-spacing: 0.05em;
		}
	}

	&__copyright {
		width: 100%;
		text-align: center;

		small {
			display: inline-block;
		}
	}

	&__AD::before {
		content: attr(data-AD) '';
	}
}
